<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>TimeTracker</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#6a5acd">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js')
      .then(reg => console.log('✔ Service Worker registrado'))
      .catch(err => console.error('❌ Falha ao registrar SW', err));
  }
</script>
</head>
<body>
    <header>
        <h1>Time Tracker&nbsp;&nbsp;<i class="fa-solid fa-clock"></i></h1>
        <nav>
            <a href="{{ url_for('index') }}"><i class="fa-solid fa-list"></i>&nbsp;&nbsp;Tarefas</a>
            <a href="{{ url_for('history') }}"><i class="fa-solid fa-chart-column"></i>&nbsp;&nbsp;Histórico</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
<footer>
    <p>Desenvolvido por <a href="https://www.linkedin.com/in/ffwolff/" style="font-weight: bold;">Franco Wolff</a></p></footer><br/>
    <a href="https://github.com/ffwolff/"><i class="fa-brands fa-github"></i>&nbsp;&nbsp;github.com/ffwolff</a>
</footer>
</html>
